.svgIcon {
  width: 24px;
  height: 24px;
  position: relative;
}
.linkFacebook,
.linkTwittermargin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-4) 0 0;
}
.linkTwittermargin {
  padding: 0 0 0 var(--padding-base);
  margin-left: -0.5px;
}
.container,
.container1 {
  width: 1126px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-mini-8) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.container {
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  align-content: flex-start;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  max-width: 1126px;
  gap: var(--gap-xl);
}
.background,
.footer,
.news {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.background {
  align-self: stretch;
  background-color: var(--idrealestatecomau-white);
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.footer,
.news {
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  border-top: 0.8px solid var(--wwwrealestatecomau-mischka);
  padding: var(--padding-12xs-8) 0 0;
  max-width: 100%;
}
.news {
  width: 100%;
  position: relative;
  background-color: var(--idrealestatecomau-white);
  padding: 0 0 var(--padding-7xs-2);
  gap: 79.2px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .news {
    gap: var(--gap-xl);
  }
}
