.dashboard {
  max-width: 744px;
  margin: 0 auto;
  padding: 20px;
  border-radius: var(--br-xs);
  background-color: var(--idrealestatecomau-white);
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: var(--wwwrealestatecomau-ship-gray);
  font-size: var(--wwwrealestatecomau-inter-semi-bold-2213-size);
}

.section {
  margin-top: 20px;
  padding: 20px;
  border-radius: var(--br-xs);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}

h3 {
  color: var(--wwwrealestatecomau-blue);
  font-size: var(--wwwrealestatecomau-inter-regular-15-size);
  font-weight: 600;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: var(--br-5xs);
  border: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: var(--wwwrealestatecomau-inter-regular-15-size);
  color: var(--wwwrealestatecomau-salt-box);
}

.button {
  padding: 12px 24px;
  background-color: var(--wwwrealestatecomau-blue);
  color: white;
  border: none;
  border-radius: var(--br-xs);
  cursor: pointer;
  width: 100%;
  font-size: var(--wwwrealestatecomau-inter-medium-1475-size);
  font-weight: 500;
}

.button:hover {
  background-color: #0056b3;
}

.signOutButton {
  padding: 12px 24px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: var(--br-xs);
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  font-size: var(--wwwrealestatecomau-inter-medium-1475-size);
}

.signOutButton:hover {
  background-color: #c82333;
}

.error {
  color: #dc3545;
  font-size: var(--wwwrealestatecomau-inter-regular-1144-size);
  margin-top: 5px;
}

.clickableProperty {
  cursor: pointer;
  font-size: var(--wwwrealestatecomau-inter-medium-145-size);
  color: var(--wwwrealestatecomau-ship-gray);
}
