.prophecyproperty {
  position: relative;
  line-height: 24px;
  text-decoration: none; /* Remove underline */
  color: inherit; /* Keep the same text color */
}
.link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.signIn {
  position: relative;
  line-height: 36px;
  font-weight: 600;
  white-space: nowrap;
}
.container,
.heading1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--idrealestatecomau-inter-semi-bold-2156-size);
  color: var(--wwwrealestatecomau-ship-gray);
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-21xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-lg-4);
  max-width: 500px;
}
.formBackgroundWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl);
  max-width: 100%;
}
.backgroundshadow,
.formBackgroundWrapper,
.signin {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.backgroundshadow {
  width: 500px;
  
  border-radius: var(--br-xs);
  background-color: var(--wwwrealestatecomau-white-02);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--wwwrealestatecomau-black);
  font-family: var(--wwwrealestatecomau-inter-regular-1563-underline);
}
.signin {
  width: 100%;
  position: relative;
  background-color: var(--idrealestatecomau-athens-gray);
  flex-direction: row;
  justify-content: center;
  padding: 296.3px var(--padding-xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1025px) {
  .header {
    max-width: 100%;
  }
  .formBackgroundWrapper {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 500px) {
  .header {
    max-width: 100%;
  }
  .formBackgroundWrapper {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .prophecyproperty {
    font-size: var(--wwwrealestatecomau-inter-semi-bold-16-size);
    line-height: 19px;
  }
  .signIn {
    font-size: var(--font-size-mid);
    line-height: 29px;
  }
}
