.sold {
  position: relative;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}
.background,
.background1 {
  display: flex;
  justify-content: flex-start;
}
.background1 {
  background-color: var(--wwwrealestatecomau-selective-yellow);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs) var(--padding-11xs)
    var(--padding-5xs);
}
.background {
  flex: 1;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-26xl) 0 0;
  background-image: url(/public/background2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.container,
.link,
.margin {
  display: flex;
  align-items: flex-start;
}
.link {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.container,
.margin {
  flex-direction: column;
}
.container {
  align-self: stretch;
  justify-content: flex-start;
  min-width: 118px;
}
.margin {
  width: 134px;
  justify-content: center;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  min-width: 134px;
  text-align: left;
  font-size: var(--wwwrealestatecomau-inter-regular-1181-size);
  color: var(--idrealestatecomau-white);
  font-family: var(--wwwrealestatecomau-inter-regular-1563-underline);
}
