.gettyimages1316920356jpgIcon {
  height: 128px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.picture {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.untappedValueThe {
  margin: 0;
}
.untappedValueTheContainer {
  height: 48px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.heading3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
  box-sizing: border-box;
  min-height: 48px;
}
.minsRead {
  position: relative;
  font-size: var(--wwwrealestatecomau-inter-regular-1144-size);
  line-height: 16px;
  color: var(--wwwrealestatecomau-salt-box);
  text-decoration: none;
}
.powerhouseContent,
.powerhouseHeadings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.powerhouseHeadings {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.powerhouseContent {
  flex: 1;
  gap: var(--gap-xs);
  min-width: 146px;
}
.barelyLiveableRentersContainer {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.heading31 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-height: 48px;
}
.heading31,
.powerhouseArticle,
.powerhouseContent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.powerhouseContent1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  min-width: 146px;
  font-size: var(--wwwrealestatecomau-inter-regular-1463-size);
}
.powerhouseArticle {
  width: 480px;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--wwwrealestatecomau-inter-medium-145-size);
  color: var(--wwwrealestatecomau-ship-gray);
  font-family: var(--wwwrealestatecomau-inter-regular-1563-underline);
}
